<div style="text-align:left;width:500px;">
  <table *ngIf="arrTable">

    <thead>
      <tr>
        <th>Submit</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Date Entry</th>
        <th>Org Num</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Geo</th>
        <th>Pan</th>
        <th>Pin</th>
        <th>ID</th>
        <th>Status</th>
        <th>Fee</th>
        <th>Guid</th>
        <th>Date Exit</th>
        <th>Date First</th>
        <th>Date Recent</th>
        <th>URL</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let sampledata of arrTable">
        <td><button>Submit</button></td>
        <td>{{ sampledata.name }}</td>
        <td>{{ sampledata.phone }}</td>
        <td>{{ sampledata.email }}</td>
        <td>{{ sampledata.date_entry }}</td>
        <td>{{ sampledata.org_num }}</td>
        <td>{{ sampledata.address_1 }}</td>
        <td>{{ sampledata.city }}</td>
        <td>{{ sampledata.zip }}</td>
        <td>{{ sampledata.geo }}</td>
        <td>{{ sampledata.pan }}</td>
        <td>{{ sampledata.pin }}</td>
        <td>{{ sampledata.id }}</td>
        <td>{{ sampledata.status }}</td>
        <td>{{ sampledata.fee }}</td>
        <td>{{ sampledata.guid }}</td>
        <td>{{ sampledata.date_exit }}</td>
        <td>{{ sampledata.date_first }}</td>
        <td>{{ sampledata.date_recent }}</td>
        <td>{{ sampledata.url }}</td>
      </tr>
    </tbody>
    <tfoot>
      <div class="center">
        <!--Paginator Placeholder-->
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
      </div>
    </tfoot>
  </table>
</div>
