table,
th,
td {
  margin: 10px 0;
  border: solid 1px #333;
  padding: 2px 4px;
  font: 15px Verdana;
}
thead th {
  font-weight: bold;
  position: sticky;
  top: 0px;
  background: #fff;
}

tfoot {
  font-weight: bold;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
}
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: rgb(76, 127, 175);
  color: white;
  border: 1px solid rgb(34, 62, 184);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
